# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Xóa pnpm lock vì dùng npm
pnpm-lock.yaml